
/_old_*
/cloc
/configureme

# === Local configuration files
/make_parameters
/mk

# === Build and temporary make files
GNUmakefile
/.d/
.fake_targets/
*/build-*/

# === Unity tests
testrunners/
/.Unity-master/

# === ???
/.cproject
/.project
/.settings/

# === Windows specific
AVR.atsuo
*.exe.stackdump
Debug/
Release/
