
# === Local configuration files and scripts
/make_parameters
/mk
/simulator.sh

# === Build and temporary make files
GNUmakefile
/.make-dependencies
.make-fake-targets/
*/build-*/
Debug/
Release/

# === Unity tests
testrunners/

*.atsuo
